<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Listener Execution" parallel="false" thread-count="4" preserve-order="true">
    <listeners>
        <listener class-name="com.aidash.listener.TestListener" />
    </listeners>
    <test name="Login Page">
        <classes>
            <class name="com.aidash.androidTestPages.LoginTest"/>
        </classes>
    </test>
<!--    <test name="Create Tree">-->
<!--        <classes>-->
<!--            <class name="com.aidash.androidTestPages.CreateTreeTest"/>-->
<!--        </classes>-->
<!--    </test>-->
</suite>